<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coibase Trading Bot</title>
  <link href="/static/bootstrap-5.3.8-dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" href="/static/imgs/favicon.ico">
</head>
<body class="bg-light">
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
	  <div class="container-fluid">
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
	      <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" href="/">Trade</a></li>
          <li class="nav-item"><a class="nav-link" href="/backtest">Backtest</a></li>
          <li class="nav-item"><a class="nav-link" href="/algorithms">Algorithms</a></li>
          <li class="nav-item"><a class="nav-link" href="/settings">Settings</a></li>
          {% if not anon %}
            {% if user %}
              <li class="nav-item"><a class="nav-link" href="/Logout">{{ user.name }} Logout</a></li>
            {% else %}
              <li class="nav-item">
                <button type="button" class="nav-link btn btn-link" data-bs-toggle="modal" data-bs-target="#loginModal">
                  Login
                </button>
              </li>
            {% endif %}
          {% endif %}
	      </ul>
	    </div>
	  </div>
	</nav>

  {% if user or anon %}
    {% block content %}{% endblock %}
  {% else %}
    Please login to view this page(or allow ananymous access in the config file)
  {% endif %}


  <!-- Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3"><input type="text" class="form-control" name="username" placeholder="Username" required></div>
            <div class="mb-3"><input type="password" class="form-control" name="password" placeholder="Password" required></div>
            <button type="button" 
                class="btn btn-primary" 
                onclick="handleLogin(
                  this.closest('.modal').querySelector('input[name=username]').value,
                  this.closest('.modal').querySelector('input[name=password]').value)">
              Login
            </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="messageModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Message</h5>
          <button type="button" class="btn-close" onclick="closeMessageModal()"></button>
        </div>
        <div class="modal-body">
          <p id=messagemodaltext></p>
            <button type="button" 
                class="btn btn-primary"
                onclick="closeMessageModal()"
                >
              Close
            </button>
        </div>
      </div>
    </div>
  </div>


  <script src="/static/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/cptb.js"></script>
</body>
</html>
